
# Import Python libraries.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import Datasets

In [ ]:
train_data = pd.read_csv(r"/content/drive/MyDrive/Training Data.csv")
# test_data = pd.read_csv(r"E:\Problem statement\Dataset\test1_df.csv")
train_data.head()

   Id   income  age  ...  current_job_years current_house_years risk_flag
0   1  1303835   23  ...                  3                  13         0
1   2  7574516   40  ...                  9                  13         0
2   3  3991815   66  ...                  4                  10         0
3   4  6256451   41  ...                  2                  12         1
4   5  5768871   47  ...                  3                  14         1

[5 rows x 13 columns]

# Convert datatype of selected fields.

In [ ]:
dfxtrain = train_data.drop(labels=['risk_flag', 'Id',],axis=1)
dfytrain=train_data['risk_flag']
dfxtrain= pd.get_dummies(dfxtrain,drop_first=True)
dfxtrain

         income  age  ...  state_Uttarakhand  state_West_Bengal
0       1303835   23  ...                  0                  0
1       7574516   40  ...                  0                  0
2       3991815   66  ...                  0                  0
3       6256451   41  ...                  0                  0
4       5768871   47  ...                  0                  0
...         ...  ...  ...                ...                ...
251995  8154883   43  ...                  0                  1
251996  2843572   26  ...                  0                  0
251997  4522448   46  ...                  0                  0
251998  6507128   45  ...                  0                  0
251999  9070230   70  ...                  0                  0

[252000 rows x 403 columns]

In [ ]:
from imblearn.over_sampling import SMOTE
ss=SMOTE()
dfxtrain, dfytrain=ss.fit_resample(dfxtrain, dfytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

# Drop the dependent variable from the train/test dataset.

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_x = scaler.fit_transform(dfxtrain)
# xs_train, xs_test, ys_train, ys_test = train_test_split(scaled_x, ytrain, test_size=0.20,shuffle=True)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(scaled_x, dfytrain, test_size=0.20,shuffle=True)

In [ ]:
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.metrics import accuracy_score,classification_report, confusion_matrix
#Using Logistic Regression 
clf = NuSVC()
clf.fit(x_train, y_train)
clf.score(x_test,y_test)

In [ ]:
print(x_train.shape,'  ',y_train.shape)
print(x_test.shape,'  ',y_test.shape)

NameError: ignored

# Train your model

In [ ]:
from xgboost import XGBClassifier
eval_set = [(dfxtrain,dfytrain), (x_tes, y_tes)]
eval_metric = ["auc","error"]
# dfxtrain.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in dfxtrain.columns.values]
# x_tes.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in x_tes.columns.values]
model = XGBClassifier(silent=False, 
                      learning_rate=0.001,  
                      colsample_bytree = 0.8,
                      subsample = 1,
                      objective='binary:logistic', 
                      n_estimators=100, 
                      reg_alpha = 0.1,
                      max_depth=50, 
                      gamma=10,
                      tree_method='gpu_hist')

%time res=model.fit(dfxtrain,dfytrain, eval_metric=eval_metric, eval_set=eval_set, verbose=True)

[0]	validation_0-auc:0.91327	validation_0-error:0.145337	validation_1-auc:0.902056	validation_1-error:0.155313
[1]	validation_0-auc:0.92943	validation_0-error:0.112145	validation_1-auc:0.919769	validation_1-error:0.120789
[2]	validation_0-auc:0.932702	validation_0-error:0.107592	validation_1-auc:0.924816	validation_1-error:0.114907
[3]	validation_0-auc:0.93999	validation_0-error:0.097216	validation_1-auc:0.932037	validation_1-error:0.106084
[4]	validation_0-auc:0.940822	validation_0-error:0.104636	validation_1-auc:0.933583	validation_1-error:0.113176
[5]	validation_0-auc:0.941321	validation_0-error:0.103949	validation_1-auc:0.933951	validation_1-error:0.112203
[6]	validation_0-auc:0.941735	validation_0-error:0.102196	validation_1-auc:0.934709	validation_1-error:0.109307
[7]	validation_0-auc:0.941577	validation_0-error:0.102555	validation_1-auc:0.934536	validation_1-error:0.109556
[8]	validation_0-auc:0.943457	validation_0-error:0.099139	validation_1-auc:0.936445	validation_1-error:0.107328
[9]	validation_0-auc:0.943214	validation_0-error:0.102968	validation_1-auc:0.936154	validation_1-error:0.11071
[10]	validation_0-auc:0.943146	validation_0-error:0.102611	validation_1-auc:0.936415	validation_1-error:0.110065
[11]	validation_0-auc:0.94267	validation_0-error:0.10271	validation_1-auc:0.935857	validation_1-error:0.110303
[12]	validation_0-auc:0.943251	validation_0-error:0.102066	validation_1-auc:0.936768	validation_1-error:0.109545
[13]	validation_0-auc:0.942918	validation_0-error:0.103033	validation_1-auc:0.936515	validation_1-error:0.110586
[14]	validation_0-auc:0.942852	validation_0-error:0.107204	validation_1-auc:0.93642	validation_1-error:0.11493
[15]	validation_0-auc:0.94292	validation_0-error:0.108109	validation_1-auc:0.936678	validation_1-error:0.11562
[16]	validation_0-auc:0.943299	validation_0-error:0.107323	validation_1-auc:0.937245	validation_1-error:0.114952
[17]	validation_0-auc:0.942968	validation_0-error:0.107091	validation_1-auc:0.936839	validation_1-error:0.115133
[18]	validation_0-auc:0.94281	validation_0-error:0.108686	validation_1-auc:0.936664	validation_1-error:0.11623
[19]	validation_0-auc:0.942793	validation_0-error:0.11124	validation_1-auc:0.936762	validation_1-error:0.118968
[20]	validation_0-auc:0.943397	validation_0-error:0.107368	validation_1-auc:0.937214	validation_1-error:0.115325
[21]	validation_0-auc:0.943325	validation_0-error:0.108084	validation_1-auc:0.937314	validation_1-error:0.115506
[22]	validation_0-auc:0.943142	validation_0-error:0.108409	validation_1-auc:0.937198	validation_1-error:0.115936
[23]	validation_0-auc:0.943459	validation_0-error:0.108047	validation_1-auc:0.937569	validation_1-error:0.115461
[24]	validation_0-auc:0.943351	validation_0-error:0.109404	validation_1-auc:0.937522	validation_1-error:0.116502
[25]	validation_0-auc:0.943645	validation_0-error:0.106865	validation_1-auc:0.937707	validation_1-error:0.11433
[26]	validation_0-auc:0.943701	validation_0-error:0.104161	validation_1-auc:0.937693	validation_1-error:0.111615
[27]	validation_0-auc:0.94395	validation_0-error:0.103129	validation_1-auc:0.938066	validation_1-error:0.110484
[28]	validation_0-auc:0.944137	validation_0-error:0.103101	validation_1-auc:0.938178	validation_1-error:0.110755
[29]	validation_0-auc:0.944583	validation_0-error:0.099023	validation_1-auc:0.938552	validation_1-error:0.106943
[30]	validation_0-auc:0.944428	validation_0-error:0.101042	validation_1-auc:0.93841	validation_1-error:0.108629
[31]	validation_0-auc:0.944254	validation_0-error:0.101698	validation_1-auc:0.938249	validation_1-error:0.109307
[32]	validation_0-auc:0.94425	validation_0-error:0.101226	validation_1-auc:0.938319	validation_1-error:0.108844
[33]	validation_0-auc:0.944294	validation_0-error:0.09969	validation_1-auc:0.938311	validation_1-error:0.107633
[34]	validation_0-auc:0.944072	validation_0-error:0.09999	validation_1-auc:0.938052	validation_1-error:0.108142
[35]	validation_0-auc:0.944184	validation_0-error:0.10124	validation_1-auc:0.93824	validation_1-error:0.109409
[36]	validation_0-auc:0.944177	validation_0-error:0.101814	validation_1-auc:0.938223	validation_1-error:0.109918
[37]	validation_0-auc:0.944065	validation_0-error:0.102524	validation_1-auc:0.938101	validation_1-error:0.110393
[38]	validation_0-auc:0.94422	validation_0-error:0.101096	validation_1-auc:0.93822	validation_1-error:0.108991
[39]	validation_0-auc:0.944112	validation_0-error:0.102136	validation_1-auc:0.938154	validation_1-error:0.110111
[40]	validation_0-auc:0.944139	validation_0-error:0.102688	validation_1-auc:0.938188	validation_1-error:0.110699
[41]	validation_0-auc:0.943981	validation_0-error:0.103126	validation_1-auc:0.938035	validation_1-error:0.110767
[42]	validation_0-auc:0.944074	validation_0-error:0.103494	validation_1-auc:0.938189	validation_1-error:0.110902
[43]	validation_0-auc:0.944193	validation_0-error:0.103519	validation_1-auc:0.938389	validation_1-error:0.110925
[44]	validation_0-auc:0.944105	validation_0-error:0.104322	validation_1-auc:0.938272	validation_1-error:0.111638
[45]	validation_0-auc:0.944144	validation_0-error:0.105142	validation_1-auc:0.938383	validation_1-error:0.112452
[46]	validation_0-auc:0.944268	validation_0-error:0.103188	validation_1-auc:0.93848	validation_1-error:0.110461
[47]	validation_0-auc:0.944364	validation_0-error:0.102637	validation_1-auc:0.938615	validation_1-error:0.109918
[48]	validation_0-auc:0.944445	validation_0-error:0.100765	validation_1-auc:0.938665	validation_1-error:0.108403
[49]	validation_0-auc:0.944335	validation_0-error:0.10146	validation_1-auc:0.938565	validation_1-error:0.108945
[50]	validation_0-auc:0.94435	validation_0-error:0.102218	validation_1-auc:0.938657	validation_1-error:0.109794
[51]	validation_0-auc:0.944392	validation_0-error:0.101158	validation_1-auc:0.938704	validation_1-error:0.108448
[52]	validation_0-auc:0.944361	validation_0-error:0.10182	validation_1-auc:0.938696	validation_1-error:0.109353
[53]	validation_0-auc:0.944437	validation_0-error:0.101195	validation_1-auc:0.938798	validation_1-error:0.10855
[54]	validation_0-auc:0.944347	validation_0-error:0.101607	validation_1-auc:0.938684	validation_1-error:0.109036
[55]	validation_0-auc:0.944297	validation_0-error:0.10223	validation_1-auc:0.938629	validation_1-error:0.109556
[56]	validation_0-auc:0.944186	validation_0-error:0.102136	validation_1-auc:0.938479	validation_1-error:0.10933
[57]	validation_0-auc:0.944209	validation_0-error:0.103021	validation_1-auc:0.938565	validation_1-error:0.110201
[58]	validation_0-auc:0.944293	validation_0-error:0.10305	validation_1-auc:0.938667	validation_1-error:0.110212
[59]	validation_0-auc:0.944376	validation_0-error:0.103166	validation_1-auc:0.938803	validation_1-error:0.110224
[60]	validation_0-auc:0.944219	validation_0-error:0.103511	validation_1-auc:0.938643	validation_1-error:0.110608
[61]	validation_0-auc:0.944241	validation_0-error:0.103635	validation_1-auc:0.938702	validation_1-error:0.110507
[62]	validation_0-auc:0.944155	validation_0-error:0.103929	validation_1-auc:0.938645	validation_1-error:0.110902
[63]	validation_0-auc:0.944265	validation_0-error:0.103952	validation_1-auc:0.938735	validation_1-error:0.111004
[64]	validation_0-auc:0.94429	validation_0-error:0.104433	validation_1-auc:0.938785	validation_1-error:0.111378
[65]	validation_0-auc:0.944212	validation_0-error:0.104786	validation_1-auc:0.938699	validation_1-error:0.111728
[66]	validation_0-auc:0.944213	validation_0-error:0.105298	validation_1-auc:0.938675	validation_1-error:0.112328
[67]	validation_0-auc:0.944303	validation_0-error:0.105759	validation_1-auc:0.93881	validation_1-error:0.112916
[68]	validation_0-auc:0.944197	validation_0-error:0.106412	validation_1-auc:0.938716	validation_1-error:0.113357
[69]	validation_0-auc:0.944084	validation_0-error:0.10661	validation_1-auc:0.938615	validation_1-error:0.113482
[70]	validation_0-auc:0.944116	validation_0-error:0.107029	validation_1-auc:0.938701	validation_1-error:0.113855
[71]	validation_0-auc:0.943985	validation_0-error:0.107337	validation_1-auc:0.938566	validation_1-error:0.114172
[72]	validation_0-auc:0.943923	validation_0-error:0.10777	validation_1-auc:0.938532	validation_1-error:0.114443
[73]	validation_0-auc:0.943942	validation_0-error:0.108075	validation_1-auc:0.93858	validation_1-error:0.114488
[74]	validation_0-auc:0.943988	validation_0-error:0.107818	validation_1-auc:0.938631	validation_1-error:0.114138
[75]	validation_0-auc:0.944003	validation_0-error:0.108027	validation_1-auc:0.938667	validation_1-error:0.114568
[76]	validation_0-auc:0.944067	validation_0-error:0.10728	validation_1-auc:0.938744	validation_1-error:0.113787
[77]	validation_0-auc:0.944113	validation_0-error:0.106998	validation_1-auc:0.938836	validation_1-error:0.113504
[78]	validation_0-auc:0.944241	validation_0-error:0.107167	validation_1-auc:0.93899	validation_1-error:0.113674
[79]	validation_0-auc:0.944269	validation_0-error:0.107425	validation_1-auc:0.939038	validation_1-error:0.113878
[80]	validation_0-auc:0.944391	validation_0-error:0.107181	validation_1-auc:0.939145	validation_1-error:0.113866
[81]	validation_0-auc:0.944532	validation_0-error:0.105708	validation_1-auc:0.939252	validation_1-error:0.11252
[82]	validation_0-auc:0.944713	validation_0-error:0.105295	validation_1-auc:0.939429	validation_1-error:0.111954
[83]	validation_0-auc:0.944731	validation_0-error:0.105473	validation_1-auc:0.939449	validation_1-error:0.112305
[84]	validation_0-auc:0.944725	validation_0-error:0.104942	validation_1-auc:0.939436	validation_1-error:0.111604
[85]	validation_0-auc:0.944934	validation_0-error:0.104631	validation_1-auc:0.939611	validation_1-error:0.1114
[86]	validation_0-auc:0.945004	validation_0-error:0.104523	validation_1-auc:0.939712	validation_1-error:0.111389
[87]	validation_0-auc:0.944935	validation_0-error:0.104537	validation_1-auc:0.93963	validation_1-error:0.111163
[88]	validation_0-auc:0.944825	validation_0-error:0.104978	validation_1-auc:0.939495	validation_1-error:0.111819
[89]	validation_0-auc:0.944769	validation_0-error:0.104944	validation_1-auc:0.93945	validation_1-error:0.111672
[90]	validation_0-auc:0.944688	validation_0-error:0.105227	validation_1-auc:0.939369	validation_1-error:0.111875
[91]	validation_0-auc:0.944626	validation_0-error:0.105032	validation_1-auc:0.939278	validation_1-error:0.111807
[92]	validation_0-auc:0.944645	validation_0-error:0.10553	validation_1-auc:0.939335	validation_1-error:0.112226
[93]	validation_0-auc:0.944698	validation_0-error:0.104993	validation_1-auc:0.939376	validation_1-error:0.111785
[94]	validation_0-auc:0.944662	validation_0-error:0.105224	validation_1-auc:0.939344	validation_1-error:0.111898
[95]	validation_0-auc:0.94459	validation_0-error:0.105569	validation_1-auc:0.939264	validation_1-error:0.112056
[96]	validation_0-auc:0.944608	validation_0-error:0.105767	validation_1-auc:0.939309	validation_1-error:0.112192
[97]	validation_0-auc:0.944638	validation_0-error:0.10562	validation_1-auc:0.939374	validation_1-error:0.112011
[98]	validation_0-auc:0.944608	validation_0-error:0.105142	validation_1-auc:0.939318	validation_1-error:0.111694
[99]	validation_0-auc:0.944604	validation_0-error:0.105668	validation_1-auc:0.939296	validation_1-error:0.112203
CPU times: user 39.7 s, sys: 18.2 s, total: 57.9 s
Wall time: 57.6 s

In [ ]:
import matplotlib.pyplot as plt
plt.plot(res)

In [ ]:
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

In [ ]:
nn = RandomForestClassifier().fit(scaled_x,dfytrain)
# print(nn.score(x1tr,y1tr))
# print(nn.score(x_tes, y_tes))

In [ ]:
nn1 = SVC(gamma='auto').fit(dfxtrain,dfytrain)

# Check your roc_auc_score

In [ ]:
from sklearn.metrics import roc_auc_score
y_pred=nn.predict(x_tes)
# labels=[int(x[0]) for x in y_pred]
auc = roc_auc_score(y_pred, y_tes)
print('ROC AUC: %f' % auc)
y_pred

ROC AUC: 0.936825

array([0, 1, 1, ..., 1, 0, 0])

#load test data

In [ ]:
test_data = pd.read_csv(r"/content/drive/MyDrive/Test Data.csv")
# test_data = pd.read_csv(r"E:\Problem statement\Dataset\test1_df.csv")|

In [ ]:
dfxtr = test_data.drop(labels=['id'],axis=1)
dfxtr= pd.get_dummies(dfxtr,drop_first=True)
dfxtr

        income  age  ...  state_Uttarakhand  state_West Bengal
0      7393090   59  ...                  0                  1
1      1215004   25  ...                  0                  0
2      8901342   50  ...                  0                  0
3      1944421   49  ...                  0                  0
4        13429   25  ...                  0                  1
...        ...  ...  ...                ...                ...
27995  9955481   57  ...                  0                  0
27996  2917765   47  ...                  0                  0
27997  8082415   24  ...                  0                  0
27998  9474180   51  ...                  0                  0
27999  9250350   42  ...                  0                  0

[28000 rows x 403 columns]

# processing test data

# Drop the dependent variable from the train/test dataset.

In [ ]:
dfxtr = scaler.fit_transform(dfxtr)

In [ ]:
y_pred=nn.predict(dfxtr)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
test_data['pred']=y_pred
test_data

          id   income  age  ...  current_job_years current_house_years pred
0          1  7393090   59  ...                  4                  13    0
1          2  1215004   25  ...                  5                  10    0
2          3  8901342   50  ...                  9                  14    0
3          4  1944421   49  ...                  3                  12    0
4          5    13429   25  ...                 13                  11    0
...      ...      ...  ...  ...                ...                 ...  ...
27995  27996  9955481   57  ...                  5                  10    0
27996  27997  2917765   47  ...                  9                  14    0
27997  27998  8082415   24  ...                  4                  13    0
27998  27999  9474180   51  ...                 13                  14    0
27999  28000  9250350   42  ...                  4                  10    0

[28000 rows x 13 columns]

In [ ]:
to_csv_maker=test_data[['id','pred']]
to_csv_maker=to_csv_maker.rename(columns={"id": "id", "pred": "risk_flag"})
to_csv_maker

          id  risk_flag
0          1          0
1          2          0
2          3          0
3          4          0
4          5          0
...      ...        ...
27995  27996          0
27996  27997          0
27997  27998          0
27998  27999          0
27999  28000          0

[28000 rows x 2 columns]

In [ ]:
to_csv_maker.to_csv('submission.csv',index=False)

In [ ]:
to_csv_maker['risk_flag'].value_counts().to_frame().T

               0     1
risk_flag  24957  3043

In [ ]:
test_data = pd.read_csv(r"/content/potential to be best.csv")
test_data['risk_flag'].value_counts().to_frame().T

               0     1
risk_flag  22626  5374

In [ ]:
test_data = pd.read_csv(r"/content/submission.csv")
test_data['risk_flag'].value_counts().to_frame().T

               0     1
risk_flag  24960  3040

In [ ]:
test_data = pd.read_csv(r"/content/best till now85_13.csv")
test_data['risk_flag'].value_counts().to_frame().T

               0     1
risk_flag  22808  5192